.content-con {
    >* {margin-bottom: 2rem !important;}
    .grid-con {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: min(100px);
        grid-gap: 1em;
    }
    .grid-tile {
            box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.25);
            border-radius: 2em;
            padding: 1em;
        }
    .tile-is-2 {grid-column: span 2;}
    .tile-is-3 {grid-column: span 3;}
    .tile-is-4 {grid-column: span 4;}
    .tile-is-5 {grid-column: span 5;}

    .vertical-con {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1em;
        .vertical-flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            >*{margin-bottom: 1em;}
        }
    }
    .br-act-btns{
        position: fixed;
        bottom: 1rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        width: 6em;
        transition: width 0.4s;
        .act-btn {
            i.mdi.mdi-plus {font-size: 1.3em;}
            &:nth-of-type(1){
                position: relative;
                top: 0;
                right: 0;
                z-index: -1;
                opacity: 0;
                transform: translateY(2.5em);
                transition: opacity 0.4s, transform 0.4s;
            }
            &:nth-of-type(2){overflow: hidden;
                > ::v-deep span:not(.icon) {
                    margin-right: -2em;
                    transition: margin-right 0.4s;
                    span{
                        display: inline-block;
                        transform: translateY(2.5rem);
                        transition: transform 0.4s;
                    }
                }
            }
        }
        &:hover {
            width: 10em;
            .act-btn{
                &:nth-of-type(1){
                    transform: translateY(-0.5rem);
                    opacity: 1;
                }
                &:nth-of-type(2)> ::v-deep span:not(.icon){margin-right:0;
                    span{transform: translateY(0);}
                }
            }
        }
    }
}