@font-face {
    font-family: "Lato";
    src: url("~assets/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato Light";
    src: url("~assets/fonts/Lato-thin.ttf");
}

@import "~bulma/sass/utilities/functions";
$primary: #FF3030;
$family-sans-serif: "Lato";
$family-secondary: "Lato Light";
$border: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 14%);
$text: hsl(0, 0%, 14%);
$link-focus-border: #FF3030;
$link: #FF3030;
$size-1: 3em;
$size-2: 2.5em;
$size-3: 2em;
$size-4: 1.5em;
$size-5: 1.25em;
$size-6: 1em;
$size-7: 0.75em;
// HBP - height break point
// WBP - width break point
$desktopHBP: 720px;
$desktopWBP: 1050px;
$mobileWBP: 450px;
$twitter: #03A9F4;
$facebook: #1976D2;
$instagram: #d800b9;
$pinterest: #CB1F24;
$gbusiness: #4175df;
$gcalendar: #34A853;


$custom-colors: (
  "twitter":($twitter, findColorInvert($twitter), findLightColor($twitter), findDarkColor($twitter)),
  "facebook":($facebook, findColorInvert($facebook), findLightColor($facebook), findDarkColor($facebook)),
  "instagram":($instagram, findColorInvert($instagram), findLightColor($instagram), findDarkColor($instagram)),
  "pinterest":($pinterest, findColorInvert($pinterest), findLightColor($pinterest), findDarkColor($pinterest)),
  "gbusiness":($gbusiness, findColorInvert($gbusiness), findLightColor($gbusiness), findDarkColor($gbusiness)),
  "gcalendar":($gcalendar, findColorInvert($gcalendar), findLightColor($gcalendar), findDarkColor($gcalendar)),
);
$column-gap: 1em;
@import "~bulma";
@import "~buefy/src/scss/buefy";
:root {
    --navh: 72px;
    --sidew: 300px;
}
@media (max-width: 350px){
    :root {--top: 62px }
}
@media (max-width: 1300px){
    :root {--sidew: 250px }
}

div#__nuxt, div#__layout, html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: $primary white ;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px;
}
@media (max-height: $desktopHBP), (max-width: $mobileWBP){
    div#__nuxt, div#__layout, html, body {font-size: 15px;}
}

@media (max-width: 370px){
    div#__nuxt, div#__layout, html, body {font-size: 13px;}
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {width: 8px;}
*::-webkit-scrollbar-track {background: white;}
*::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
}

.content-con {
    width: calc(100% - var(--sidew));
    height: calc(100% - var(--navh));
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    overflow-y: auto;
}

@media (max-width: 880px){
    .content-con {
        left: 0;
        width: 100%;
    }
}
@media (max-width: 370px){
    .content-con {--top: 62px;}
}