.apl-form {
  form {
    position: relative;
    width: 86%;
    margin: 0 auto;
    input.button {
      height: 1.9em;
    }
  }
  .submit-con {
    width: 75%;
    margin: 0 auto;
  }
}
.new-account {
  margin-top: 1rem;
  display: block;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}
