@charset "utf-8";
:root {
  --navh: 72px;
  --sidew: 300px;
}
@media (max-width: 350px) {
  :root {
    --top: 62px;
  }
}
@media (max-width: 1300px) {
  :root {
    --sidew: 250px;
  }
}

div#__nuxt,
div#__layout,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: $primary white;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
}
@media (max-height: $desktopHBP), (max-width: $mobileWBP) {
  div#__nuxt,
  div#__layout,
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 370px) {
  div#__nuxt,
  div#__layout,
  html,
  body {
    font-size: 13px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 4px;
}

.grid-tile {
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2em;
  padding: 1em;
}

.is-paragraph {
  @extend .has-text-weight-bold, .is-family-secondary;
}

// import everything but utilities - they are in the _variables files
@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy.scss";

a {
  color: $text;
}

@import "./partials/loginregister";
